
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON CLASSES */

.my-br-25{
    border-radius: 25px;
}

.my-border-active{
    border: 3px solid #0d6efd;
}

.my-border-inactive{
    border: 3px solid white;
}

.my-bg-black{
    background-color: black;
}

.my-bg-grey{
    background-color: #bfbcba;
}

.my-bg-light-grey{
    background-color: #d8dbdc;
}

.my-bg-blue{
    background-color: #01439d;
}

.my-bg-dark-blue{
    background-color: #171c3a;
}

.my-nav-link{
    text-decoration: none;
}

.trademark::after{
    content: "TM";
    font-size: .4rem;
    vertical-align: text-top;
}

.registered-trademark::after{
    content: "\00AE";
    font-size: 1rem;
    vertical-align: text-top;
}

.hero-banner{
    background-size: cover;
    background-position-x: center;
}

.logo{
    width: 90px;
}

.logo-small{
    width: 75px;
}

.logo-extra-small{
    height: 15px;
}

/* HEADER */

header{
    font-family: helvetica;
}

.my-active{
    display: none;
}

nav li:hover{
    cursor: pointer;

}

nav li:hover .my-active{
    display: inline-block;
}

nav li:hover .my-inactive{
    display: none;
}


/* MAIN */

/* JUMBOTRON*/

#jumbotron .hero-banner{
    background-image: url("../img/jumbo-bg.png");
}

#jumbotron .hero-banner img{
    width: 60%;
}

#jumbotron .listing-img .my-border-inactive{
    transition: bottom 1s ease-in-out;
    opacity: .6;
}


#jumbotron .listing-img .my-border-inactive:hover{
    cursor: pointer;
    bottom: 8px;
    opacity: 1;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#jumbotron button:hover{
    box-shadow: 0 0 3px 4px red;
}

/* CONSOLE PREVIEW */
#console-preview .my-border-b-active{
    border-bottom: 3px solid #0d6efd;
}

#console-preview .my-border-b-inactive{
    border-bottom: 3px solid white;
}

#console-preview .my-border-b-inactive:hover{
    cursor: pointer;
    border-bottom: 3px solid #0d6efd;
}

#console-preview button:hover{
    box-shadow: 0 0 3px 4px #0d6efd;;
}

/* GAME-BANNER */

#game-banner .hero-banner{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

#game-banner .hero-banner img{
    width: 50%;
}

/* PLAYSTATION-PLUS-BANNER */

#playstation-plus-banner .logo{
    width: 70%;
}

/* PLAYSTATION-NOW-BANNER */

#playstation-now-banner .logo{
    width: 70%;
}

/* FOOTER */

div#footer-bottom ul{
    list-style-type: none;
    padding: 0;
}

div#footer-bottom ul a{
    text-decoration: none;
}