
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON CLASSES */

.my-br-25{
    border-radius: 25px;
}

.my-b-active{
    border: 3px solid #0072ce;
}

.my-b-inactive{
    border: none;
}

.my-bg-black{
    background-color: black;
}

.my-text-black{
    color: black;
}

.my-nav-link{
    text-decoration: none;
}

/* HEADER */

header{
    font-family: helvetica;
}

/* MAIN */

/* JUMBOTRON-TOP */

.jumbotron .hero-banner{
    width: 100%;
    height: 550px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}