
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header #header-top-banner{
    background-color: black;
    font-family: Helvetica, sans-serif;
}

/* MAIN */

/* JUMBOTRON-TOP */

#jumbotron-top{
    height: 500px;
    background-color: aquamarine;
}